@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.row {
    display: flex;
}

.subheader {
    height: 60px;
    width: 100%;
    background-color: #CDD7F2;
    padding: 10px;
}

.trial-title {
    font-size: 22px;
    color: #00345b;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    margin-left: 20px;
}

.back-button {
    background-color: #008798;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin: 20px 0 40px 45%;
    height: 55px;
    width: 160px;
    position: absolute;
    bottom: 5px;
}

.action-button {
    background-color: #008798;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    height: 55px;
    width: 160px;
}

.dispay-flex {
    display: flex;
}

object {
    height: 1200px;
}

#pdfViewer {
    overflow-y: scroll;
}

.econsent-actions {
    justify-content: space-evenly;
    margin-top: 20px;
}

.econsent-actions-subcontrols {
    justify-content: space-evenly;
}

.econsent-actions-subcontrols > * {
    margin: 0 30px;
}

.main-title {
    font-size: 42px;
    color: #00345b;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.main-background {
    background-color: #00345B;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.front {
    background-color: #FFFFFF;
    border-radius: 15px;
    margin: 15px 15px 350px 15px;
    position: relative;
    height: 80vh;
    overflow: hidden;
}

.left-image-eu {

}

.eu-text {
    color: white;
}

.eu-container {
    position: absolute;
    width: 100%;
    bottom: 5px;

}

.top-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.pharma-logo {
    width: 110px;
    height: 47px;
    float: left;
    margin: 10px 0 0 10px;
}

.logout-button {
    background-color: #008798;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: center;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    height: 35px;
    width: 135px;
    right: 10px;
    top: 10px;
}

.display-flex {
    display: flex;
}

.right-text-eu {
    float: left;
    width: 70%;
    text-align: center;
}

.right-text-eu span {
    margin-top: 20px;
    display: inline-block;
}

.left-image-eu {
    float: left;
    width: 20%;
    text-align: center;
}

.left-image-eu .image_container {
    width: 100%;
}

.left-image-eu .image_container {
    float: left;
}

.general-table {
    width: 80%;
    margin-left: 10%;
}

.rows-as-list {
    display: grid !important;
}

button {
    border-radius: 5px !important;
}

hr {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.table-like-elements > * {
    display: table-row;
}