<webc-container controller="TableTemplateController" data-view-model="@" class="sites-data-table data-table">
  <webc-datatable datasource="@dataSource" class="table-cell-web align-items-center justify-content-center">
    <div slot="header" class="table-header" data-for="@headerItems" style="display: contents">
      <span class="py-2">{{ @name }}</span>
    </div>

    <div class="">{{@id}}</div>
    <div class="">{{@id}}</div>
    <div class="">{{@country}}</div>
    <div class="">{{@status}}</div>
    <div class="">{{@stage}}</div>
    <div class="">{{@name}}</div>
    <div class="">
      <button data-tag="view-site-consents" class="btn btn-bare btn-link">Consents</button> |
      <button data-tag="view-site-subjects" class="btn btn-bare btn-link">Subjects</button> |
      <button data-tag="edit-site-contact" class="btn btn-bare btn-link">Edit Contact</button>
    </div>

    <div slot="no-data">There are no items to display</div>
  </webc-datatable>
</webc-container>
