<webc-container controller="TableTemplateController" data-view-model="@" class="table-template">
  <div class="background-primary table-row d-flex flex-row flex-nowrap">
    <div data-for="@headers" class="display-contents" style="display: contents">
      <span class="flex-grow-1 d-flex flex-row align-items-center justify-content-between pr-1 table-cell-web">
        <div class="btn-bare gray w-100" disabled="@notSortable" data-tag="sort-column" data-custom="@column">
          <div class="background-primary w-100 d-flex flex-row align-items-center justify-content-between pr-1">
            <label>{{@label}}</label>
            <div>
              <div data-if="@asc">
                <div slot="true">&uarr;</div>
                <div slot="false"></div>
              </div>
              <div data-if="@desc">
                <div slot="true">&darr;</div>
                <div slot="false"></div>
              </div>
              <div data-if="@notSortable">
                <div slot="false">
                  <div data-if="@asc">
                    <div slot="false">
                      <div data-if="@desc">
                        <div style="font-weight: 300" slot="false">&udarr;</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>
    </div>
  </div>

  <div data-if="@isTrialsTable" class="rows-container">
    <div data-for="@pagination.items" style="display: contents">
      <div class="d-flex flex-row flex-nowrap justify-content-center align-items-center table-row">
        <div class="table-cell-web">{{@id}}</div>
        <div class="table-cell-web">{{@name}}</div>
        <div class="table-cell-web">{{@sponsor}}</div>
        <div class="table-cell-web">{{@stage}}</div>
        <div class="table-cell-web">{{@status}}</div>
        <div class="table-cell-web">{{@created}}</div>
        <div style="flex-basis: 100%" class="d-flex flex-row">
          <!-- <psk-button class="btn-bare table-cell-web" event-name="view-trial" event-data="@id"> &#128269; </psk-button> -->
          <button class="btn-bare-web table-cell-web" data-tag="view-trial">&#128269;</button>
          <!-- <psk-button class="btn-bare table-cell-web" event-name="delete-trial" event-data="@id"> &#10060; </psk-button> -->
        </div>
      </div>
    </div>
  </div>

  <div data-if="@isParticipantsTable">
    <div data-for="@pagination.items" style="display: contents">
      <div class="d-flex flex-row flex-nowrap justify-content-center align-items-center table-row">
        <div class="table-cell-web">{{@participantId}}</div>
        <div class="table-cell-web">{{@consentName}}</div>
        <div class="table-cell-web">{{@consentVersion}}</div>
        <div class="table-cell-web">{{@consentStatus}}</div>
        <div class="table-cell-web">{{@patientSignature}}</div>
        <div class="table-cell-web">{{@doctorSignature}}</div>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-between flex-wrap">
    <div class="d-flex align-items-center justify-content-center">
      <span>Page&nbsp;</span>
      <!-- TODO: no two-way binding on select, also how to set default/initial value -->
      <psk-select view-model="@pagination.pages" event-name="navigate-to-page"></psk-select>
      <span>&nbsp;of&nbsp;</span>
      <psk-label label="@pagination.totalPages"></psk-label>
      <span>&nbsp;Pages</span>
    </div>

    <div class="d-flex flex-row">
      <psk-button class="page-link page-button" disabled="@pagination.previous" event-name="go-to-first-page">
        <span aria-hidden="true">&laquo;</span>
      </psk-button>
      <psk-button class="page-link page-button" disabled="@pagination.previous" event-name="go-to-previous-page">
        <span aria-hidden="true">&lsaquo;</span>
      </psk-button>
      <psk-for-each class="d-flex flex-row" data-view-model="@pagination.slicedPages">
        <div data-if="@active">
          <div slot="true" class="active">
            <psk-button
              class="page-link page-button active"
              label="@label"
              event-name="navigate-to-page"
              event-data="@value"
            >
            </psk-button>
          </div>
          <div slot="false">
            <psk-button
              class="page-link page-button"
              label="@label"
              event-name="navigate-to-page"
              event-data="@value"
            ></psk-button>
          </div>
        </div>
      </psk-for-each>
      <psk-button class="page-link page-button" disabled="@pagination.next" event-name="go-to-next-page">
        <span aria-hidden="true">&rsaquo;</span>
      </psk-button>
      <psk-button class="page-link page-button" disabled="@pagination.next" event-name="go-to-last-page">
        <span aria-hidden="true">&raquo;</span>
      </psk-button>
    </div>

    <div class="d-flex align-items-center justify-content-center">
      <psk-select view-model="@pagination.itemsPerPageOptions" event-name="set-items-per-page"></psk-select>
      <!-- <select
        class="form-control"
        data-for="@pagination.itemsPerPageOptions.selectOptions"
        value="@pagination.itemsPerPage"
      >
        <option value="@value">{{@label}}</option>
      </select> -->
      <span>&nbsp;Items Per Page</span>
    </div>
  </div>
</webc-container>
