<webc-container controller="TableTemplateController" data-view-model="@" class="data-table">
  <webc-datatable datasource="@dataSource" class="table-cell-web align-items-center justify-content-center">
    <div slot="header" data-for="@headerItems" style="display: contents">
      <span>{{ @name }}</span>
    </div>

    <div>{{@id}}</div>
    <div>{{@name}}</div>
    <div>{{@sponsor}}</div>
    <div>{{@stage}}</div>
    <div>{{@status}}</div>
    <div>{{@created}}</div>
    <button data-tag="view-trial" class="button-icon btn btn-primary">View 🔎️</button>

    <div slot="no-data">There are no items to display</div>
  </webc-datatable>
</webc-container>
