<webc-container controller="TrialDetailsController">
  <link rel="stylesheet" href="assets/css/trial-details.css" />

  <div data-for="@menu">
    <div class="accordion-item">
      <div data-if="@selected">
        <container slot="true">
          <!-- ************ TRIAL DETAILS ***************-->
          <div data-if="@selectedOption.0">
            <h5
              data-tag="select-menu"
              data-custom="@name"
              class="d-flex flex-row bold align-items-center m-2 p-2 accordion-header"
            >
              <i class="fas fa-angle-down"></i>
              <div class="ml-2">{{ @name }}</div>
            </h5>
            <div data-if="@loading" class="ml-5">
              <container slot="false">
                <div data-if="@data">
                  <div class="row m-2">
                    <div class="col-md-3">Trial Code</div>
                    <div class="col-md-3">{{ @data.id }}</div>
                  </div>
                  <div class="row m-2">
                    <div class="col-md-3">Trial Sponsor</div>
                    <div class="col-md-3">{{ @data.sponsor }}</div>
                  </div>
                  <div class="row m-2">
                    <div class="col-md-3">Trial Name</div>
                    <div class="col-md-3">{{ @data.name }}</div>
                  </div>
                </div>
              </container>
            </div>
          </div>
          <!-- ************ SITES & COUNTRIES ***************-->
          <div data-if="@selectedOption.1">
            <div class="d-flex flex-row bold align-items-center m-2 p-2 accordion-header">
              <h5 class="d-flex flex-row bold align-items-center" data-tag="select-menu" data-custom="@name">
                <i class="fas fa-angle-down"></i>
                <div class="ml-2">{{ @name }}</div>
              </h5>
              <button class="btn btn-primary ml-auto" data-tag="add-site">Add Site</button>
            </div>
            <div data-if="@loading" class="ml-5">
              <container slot="false">
                <div data-for="@data">
                  <div class="row bg-light">
                    <div
                      class="col-md-7 country-option d-flex align-items-center"
                      data-tag="select-country"
                      data-custom="@country"
                    >
                      {{ @country }}
                    </div>
                    <div class="col-md-3 d-flex flex-row bold align-items-center" data-if="@active">
                      <container slot="true">
                        <i class="far fa-pause-circle"></i>
                        <button data-tag="country-on-hold" data-custom="@country" class="btn btn-bare">On Hold</button>
                      </container>
                      <container slot="false">
                        <i class="far fa-pause-circle"></i>
                        <button data-tag="country-resume" data-custom="@country" class="btn btn-bare">Resume</button>
                      </container>
                    </div>
                    <div class="col-md-2 d-flex flex-row bold align-items-center">
                      <i class="far fa-stop-circle"></i>
                      <button data-tag="country-terminate" data-custom="@country" class="btn btn-bare">
                        Terminate
                      </button>
                    </div>
                  </div>

                  <div data-if="@selected">
                    <div data-for="@sites">
                      <div class="row align-items-center">
                        <div class="col-md-1"></div>
                        <div class="col-md-2">{{ @id }}</div>
                        <div class="col-md-2">{{ @name }}</div>
                        <div class="col-md-2 d-flex flex-row bold align-items-center">
                          <i class="far fa-pause-circle"></i>
                          <button disable="true" data-tag="site-edit" data-custom="@id" class="btn btn-bare">
                            Edit
                          </button>
                        </div>
                        <!-- <div class="col-md-2">
                            <div class="col-md-2 d-flex flex-row bold align-items-center">
                              <i class="far fa-pause-circle"></i>
                              <button disable="true" data-tag="site-delete" data-custom="@id" class="btn btn-bare">
                                Delete
                              </button>
                            </div>
                          </div> -->
                        <div class="col-md-3 d-flex flex-row bold align-items-center" data-if="@active">
                          <container slot="true">
                            <i class="far fa-pause-circle"></i>
                            <button data-tag="site-on-hold" data-custom="@did" class="btn btn-bare">On Hold</button>
                          </container>
                          <container slot="false">
                            <i class="far fa-pause-circle"></i>
                            <button data-tag="site-resume" data-custom="@did" class="btn btn-bare">Resume</button>
                          </container>
                        </div>
                        <div class="col-md-2 d-flex flex-row bold align-items-center" data-if="@terminated">
                          <i class="far fa-stop-circle"></i>
                          <button data-tag="site-terminate" data-custom="@did" class="btn btn-bare">Terminate</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </container>
            </div>
          </div>
          <!-- ************ CONSENTS ***************-->
          <div data-if="@selectedOption.2">
            <div class="d-flex flex-row bold align-items-center m-2 p-2 accordion-header">
              <h5 data-tag="select-menu" data-custom="@name" class="d-flex flex-row bold align-items-center">
                <i class="fas fa-angle-down"></i>
                <div class="ml-2">{{ @name }}</div>
              </h5>
              <button class="btn btn-primary ml-auto" data-tag="add-trial-consent">Add Consent</button>
            </div>
            <div data-if="@loading" class="ml-5">
              <container slot="false">
                <div data-if="@data.trial">
                  <div class="row mb-2">
                    <div class="col-md-3 bold">Trial Consent Name</div>
                    <div class="col-md-3 bold">Type</div>
                    <div class="col-md-1 bold">Version</div>
                    <div class="col-md-3 bold">Uploaded</div>
                    <div class="col-md-1 bold">Document</div>
                  </div>
                  <div data-for="@data.trial">
                    <!-- <div class="row">
                      <div class="col-md-3">{{ @name }}</div>
                      <div class="col-md-3">{{ @type }}</div>
                      <div class="col-md-1">{{ @versions.0.version }}</div>
                      <div class="col-md-3">{{ @versionDate }}</div>
                      <div class="col-md-1">{{ @versions.0.attachment }}</div>
                    </div> -->
                    <div data-if="@selected" class="">
                      <container slot="true">
                        <container slot="false" class="row bg-light country-option d-flex align-items-center py-2">
                          <div class="row col-md-10" data-tag="select-trial-consent" data-custom="@id">
                            <i class="fas fa-minus"></i>
                            <div class="col-md-4">{{ @name }}</div>
                            <div class="col-md-3">{{ @type }}</div>
                          </div>
                          <button
                            class="col-md-2 btn btn-primary ml-auto"
                            data-tag="add-trial-version"
                            data-custom="@id"
                          >
                            Add Version
                          </button>
                        </container>

                        <br />

                        <div data-for="@versions" class="ml-4 row">
                          <div class="col-md-6">{{ @version }}</div>
                          <div class="col-md-2">{{ @versionDate }}</div>
                          <div class="col-md-2">{{ @attachment}}</div>
                        </div>
                      </container>
                      <container
                        slot="false"
                        class="row bg-light country-option d-flex align-items-center py-2 mr-2"
                        data-tag="select-trial-consent"
                        data-custom="@id"
                      >
                        <i class="fas fa-plus"></i>
                        <div class="col-md-3">{{ @name }}</div>
                        <div class="col-md-3">{{ @type }}</div>
                      </container>
                    </div>
                  </div>
                </div>

                <br />

                <div class="row mb-2">
                  <div class="col-md-4 bold">Site Consent Name</div>
                  <div class="col-md-3 bold">Type</div>
                  <div class="col-md-2 bold">Uploaded</div>
                  <div class="col-md-2 bold">EC Approval</div>
                  <div class="col-md-1 bold">Document</div>
                </div>
                <div data-for="@data.site">
                  <div class="row bg-light mr-2" data-if="@selected">
                    <container
                      data-tag="select-consent-country"
                      data-custom="@country"
                      slot="true"
                      class="col-md-12 bg-light country-option d-flex align-items-center py-2"
                    >
                      <i class="mr-2 fas fa-minus"></i>
                      <div>{{ @country }}</div>
                    </container>
                    <container
                      data-tag="select-consent-country"
                      data-custom="@country"
                      slot="false"
                      class="col-md-12 bg-light country-option d-flex align-items-center py-2"
                    >
                      <i class="mr-2 fas fa-plus"></i>
                      <div>{{ @country }}</div>
                    </container>
                  </div>

                  <div data-if="@selected">
                    <div data-for="@sites">
                      <div data-if="@selected" class="ml-2">
                        <container slot="true">
                          <div
                            class="col-md-12 bg-light country-option d-flex align-items-center py-2"
                            data-tag="select-consent-site"
                            data-custom="@id"
                          >
                            <i class="fas fa-minus"></i>
                            <div class="col-md-3">{{ @id }}</div>
                            <!-- <button class="btn btn-primary ml-auto" data-tag="add-site-consent" data-custom="@id">
                              Add Consent
                            </button> -->
                          </div>

                          <div data-for="@consents">
                            <div data-if="@selected" class="ml-4">
                              <container slot="true">
                                <container
                                  slot="false"
                                  class="col-md-12 bg-light country-option d-flex align-items-center py-2"
                                >
                                  <div class="row col-md-10" data-tag="select-consent" data-custom="@id">
                                    <i class="fas fa-minus"></i>
                                    <div class="col-md-3">{{ @trialConsentName }}</div>
                                    <div class="col-md-2">{{ @type }}</div>
                                    <div class="col-md-2">{{ @name }}</div>
                                    <div class="col-md-3">{{ @trialConsentVersion }}</div>
                                  </div>
                                  <button
                                    class="col-md-2 btn btn-primary ml-auto"
                                    data-tag="add-site-consent"
                                    data-custom="@trialConsentKeySSI"
                                  >
                                    Add Consent
                                  </button>
                                </container>

                                <br />

                                <div data-for="@versions" class="ml-4 row">
                                  <div class="col-md-6">{{ @version }}</div>
                                  <div class="col-md-2">{{ @versionDate }}</div>
                                  <div class="col-md-2">{{ @versionDate }}</div>
                                  <div class="col-md-2">{{ @attachment}}</div>
                                </div>
                              </container>
                              <container
                                slot="false"
                                class="col-md-12 bg-light country-option d-flex align-items-center py-2"
                              >
                                <div class="row col-md-10" data-tag="select-consent" data-custom="@keySSI">
                                  <i class="fas fa-plus"></i>
                                  <div class="col-md-3">{{ @trialConsentName }}</div>
                                  <div class="col-md-2">{{ @type }}</div>
                                  <div class="col-md-2">{{ @name }}</div>
                                  <div class="col-md-3">{{ @trialConsentVersion }}</div>
                                </div>
                                <button
                                  class="col-md-2 btn btn-primary ml-auto"
                                  data-tag="add-site-consent"
                                  data-custom="@trialConsentKeySSI"
                                >
                                  Add Consent
                                </button>
                              </container>
                            </div>
                          </div>
                        </container>
                        <container
                          slot="false"
                          class="col-md-12 bg-light country-option d-flex align-items-center py-2"
                          data-tag="select-consent-site"
                          data-custom="@id"
                        >
                          <i class="fas fa-plus"></i>
                          <div class="col-md-3">{{ @id }}</div>
                        </container>
                      </div>
                    </div>
                  </div>
                </div>
              </container>
            </div>
          </div>
          <div data-if="@selectedOption.3">
            <h5
              data-tag="select-menu"
              data-custom="@name"
              class="d-flex flex-row bold align-items-center m-2 p-2 accordion-header"
            >
              <i class="fas fa-angle-down"></i>
              <div class="ml-2">{{ @name }}</div>
            </h5>
            <div data-tag="select-menu" data-custom="@name" data-if="@loading" class="ml-5">
              <container slot="false">
                <div data-if="@data">Visits</div>
              </container>
            </div>
          </div>
        </container>
        <container slot="false">
          <h5
            data-tag="select-menu"
            data-custom="@name"
            class="d-flex flex-row bold align-items-center m-2 p-2 accordion-header"
          >
            <i class="fas fa-angle-right"></i>
            <div class="ml-2">{{ @name }}</div>
          </h5>
        </container>
      </div>
    </div>
  </div>
</webc-container>
