<webc-container controller="TrialOverviewController">
  <h3 class="mb-5 font-weight-bold">Trial Status Overview</h3>

  <div data-if="@data.exists" class="ml-3">
    <div class="row mb-3">
      <div class="col-md-2 bold">Trial Status:</div>
      <div class="col-md-2">{{@data.trial.status }}</div>
    </div>

    <div data-for="@data.trial.stage" class="row" style="width: 100%">
      <div class="col-md-1">{{ @text }}</div>
    </div>

    <div data-for="@data.trial.stage" class="row mb-5" style="width: 100%">
      <div class="col-md-1 p-0" style="width: 100%">
        <div data-if="@filledIn" style="width: 100%">
          <div slot="true" class="background-blue" style="width: 100%">&nbsp;</div>
          <div slot="false" class="bg-light" style="width: 100%">&nbsp;</div>
        </div>
      </div>
    </div>

    <h5 class="mb-5 font-weight-bold">Countries</h5>

    <div data-for="@data.countries.statuses" class="row mb-4" style="width: 100%">
      <div class="col-md-2">
        <span class="font-weight-bold mr-2">{{ @text }}:</span>
        <span class="">{{ @number }}</span>
      </div>
    </div>

    <div data-for="@data.countries.stage" class="row" style="width: 100%">
      <div class="col-md-1">{{ @text }}</div>
    </div>

    <div data-for="@data.countries.stage" class="row" style="width: 100%">
      <div class="col-md-1 p-0" style="width: 100%">
        <div data-if="@filledIn" style="width: 100%">
          <div slot="true" class="background-blue" style="width: 100%">&nbsp;</div>
          <div slot="false" class="bg-light" style="width: 100%">&nbsp;</div>
        </div>
      </div>
    </div>

    <div data-for="@data.countries.stage" class="row mb-5" style="width: 100%">
      <div class="col-md-1">{{ @numberOfCountries }}</div>
    </div>

    <h5 class="mb-5 font-weight-bold">Sites</h5>

    <div data-for="@data.sites.statuses" class="row mb-4" style="width: 100%">
      <div class="col-md-2">
        <span class="font-weight-bold mr-2">{{ @text }}:</span>
        <span class="">{{ @number }}</span>
      </div>
    </div>

    <div data-for="@data.sites.stage" class="row" style="width: 100%">
      <div class="col-md-1">{{ @text }}</div>
    </div>

    <div data-for="@data.sites.stage" class="row" style="width: 100%">
      <div class="col-md-1 p-0" style="width: 100%">
        <div data-if="@filledIn" style="width: 100%">
          <div slot="true" class="background-blue" style="width: 100%">&nbsp;</div>
          <div slot="false" class="bg-light" style="width: 100%">&nbsp;</div>
        </div>
      </div>
    </div>

    <div data-for="@data.sites.stage" class="row align-items-center mb-3" style="width: 100%">
      <div class="col-md-1">{{ @number }}</div>
    </div>
  </div>
</webc-container>
