.sponsor-navbar {
  background-color: var(--primary);
  display: fixed;
  max-width: 250px !important;
  height: 100vh;
}

.side-menu-logo {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 960px) {
  .side-menu-logo {
    display: none;
  }
}
