textarea.form-control:focus{
    border-color:#fff;
    box-shadow: 0px 0px 6px 1px #e9510e;
    height: 600px;
    margin: 25px;
    width: 350px;
}
textarea.form-control{
    border-color:#fff;
    margin:25px;
    height: 600px;
    width: 350px;
}
textarea {
    height: 350px;
    width: 350px;
}
.ed-label textarea {
    height: 100px !important;
}

.consent  {
    height: 200px !important;
    width: 90% !important;
}