psk-container.pdfViewer .content {
  height: calc(100vh - 4rem);
}

.header-row {
  display: flex;
}

.subheader {
  height: 40px;
  width: 100%;
  background-color: #00345b;
}

.ed-avatar-bordered-image {
  background-color: white;
}

#ed-profile-image {
  border-radius: 90px;
  width: 124px;
  height: 124px;
  position: relative;
  left: 5px;
  top: 5px;
}

#ed-profile-border {
  border: 5px solid white;
  background-image: url(assets/images/profile-pic.jpg);
  background-repeat: round;
  width: 180px;
  height: 180px;
}
