.icon {
    margin: .5rem;
    padding: .5rem;
}

.icon.disable-color {
    color: #999 !important;
}

psk-icon {
    display: block;
    text-align: center;
}

.trial-icon {
    font-size: 30px;
}

.trial-icon .icon {
    padding: 0;
    margin-left: 0;
}

.trial-icon.large {
    font-size: 40px;
}