webc-modal:not([expanded]){
    --max-width: 340px;
}
.consent-question {
    color: #00345b;
    font-weight: bold;
    font-size: 12px;
    float: right;
    margin: 10px
}

.withdraw-button {
    background-color: #00345b !important;
    border: #00345b !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    height: 35px;
    font-weight: bold;
    text-align: left;
    font-size: 18px;
    color: white;
    width: 90%;
    margin-right: 10px;
    margin-left: 10px;
}
.long-button {
    background-color: #FAFAFA;
    border: #00345b !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    height: 45px;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
    color: #00345b !important;
    border-top: 1px solid black!important;
    padding-left: 30px !important;
    width: 90%;
    margin-left: 5%;
}


.cancel-button {
    background-color: white !important;
    border: #00345b !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    height: 35px;
    font-weight: bold;
    text-align: left;
    font-size: 18px;
    color: #00345b;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
}

