.header-title {
    display: flex;
    height: 50px;
}

.read-box {
    width: 90%;
    height: 500px;
}

.content {
    width: 100%;
    height: 70%;
}

.content object {
    width: 100%;
    height: 100%;
}

.button {
    margin-left:10px;

}
.padding {
    margin: 10px;
}

.consent-read{
    display: inline-flex;
    justify-content: center;
    background-color: #00345b;
    width: 40%;
    height: 45px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top:5px;
    font-size: 16px;
    margin-left: 10%;
}

#canvas-wrapper {
    justify-content: space-evenly;
    align-items: center;
    overflow: scroll;
    width: fit-content;
    overflow-x: hidden;
    height: 600px;
}

#canvas-parent {
    max-height: 700px;
}

#canvas-parent > * {
    direction: ltr;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.long-button {
    background-color: white;
    border: #40A5B2 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    height: 35px;
    font-weight: bold;
    text-align: left;
    font-size: 13px;
    color: #40A5B2 !important;
    border-top: 1px solid black!important;
    padding-left: 30px !important;
    width: 90%;
    margin-left: 5%;
}