webc-modal:not([expanded]){
    --max-width: 350px;
}

.alert-title {
    font-size: 20px;
    color: #00345b;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    margin-left: 20px;
}

.center-line {
    margin: 20px 0 20px 0;
    justify-content: center;
    display: flex;
}

.center-line-block {
    margin: 20px 0 20px 0;
    display: block;
}

.center-bottom {
    margin: 20px 0 20px 0;
    justify-content: center;
    display: flex;
    padding: 0;
}

#did {
    padding: 2px 5px;
    width: 90%;
}

.red-error {
    color: red;
}

.green-success {
    color: green;
}

.red-error,
.green-success {
    font-size: 16px;
    text-align: center;
}

.tp-button {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: center;
    font-size: 16px;
    width: 40%;
    background-color: white !important;
    color: #008798 !important;
    border: 1px solid #008798 !important;
}

psk-barcode-generator psk-card:nth-child(2) {
    display: none;
}
