.header-title {
    display: flex;
    height: 50px;
}

.read-box{
    width: 90%;
    height: 500px;
}

.content {
    width: 100%;
    height: 500px;
}

.pdfViewer .content {
    height: 800px;
}

.pdfViewer{
    height: 500px;
}
