webc-modal:not([expanded]){
    --max-width: 340px;
}
.top {
    display: block;

    width: 100%;
}

.line {
    display: flex;

}

.tp-title {
    font-size: 15px;
    color: #00345b;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    margin-left: 20px;
}
.alert-title {
    font-size: 20px;
    color: #00345b;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    margin-left: 20px;
}

.inverted-colors {
    background-color: white !important;
    color: #008798 !important;
    border: 1px solid #008798 !important;
}

.tp-button {
    background-color: #00345b;
    border: none;
    color: white;
    padding: 10px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: center;
    font-size: 11px;
    height: 34px;
    margin-right: 22px;

}

.bottom {
    padding: 0 0 0 10%;
}

.wide-button {
    width: 40%;
}

div.form-group {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
