.left-image{
    float:left;
    margin-top: 5px;
}

.header-title {
    display: flex;
    height: 50px;
}

.scan-error-title {
    color: #00345B;
    font-weight: bold;
    font-size: 20px;
}

.padding-sides {
    padding: 20px;
}

.display-flex {
    display: flex;
}

.date-div {
    margin-bottom: 20px;
}

.date-div .left-image.padding-image {
    float: left;
    padding-right: 25px;
    padding-top: 10px;
}
.data-block {
    display: block;
    margin-left: 20px;
}
.date-div .right-text {
    padding-top: 15px;
}

.right-text{
    width: 70%;
}
.gray-filter {
    filter: opacity(50%);
}

.go-back-link  {
    font-size: 25px;
    margin-right: 10px;
}
