.left-image{
    float:left;
}

.consent-block {
    display: flex;
    clear: both;
}

.header-title {
    display: flex;
    height: 50px;
}

.scan-error-title {
    color: #00345B;
    font-weight: bold;
    font-size: 20px;
}
.padding-sides {
    padding: 20px;
}
.padding-10 {
    padding: 10px;
}

.display-flex {
    display: flex;
}
.date-div {
    margin-bottom: 20px;
}

.date-div .left-image.padding-image {
    float: left;
}

.date-div .right-text {
    padding-top: 15px;
}

.subheader {
    height: 40px;
    width: 100%;
    background-color: #00345b;
}

.trial-status {
    color: #00345b;
    font-weight: bold;
    font-size: 15px;
    float: right;
    margin-right: 10px;
    text-align: right;
}

.consent-status {
    color: #40A5B2;
    font-size: 18px;
    font-weight: bold;
    display: block;
    text-align: center;
}

.subheader-blue {
    color: #40A5B2;
    height: 35px;
    font-weight: bold;
    text-align: left;
    font-size: 13px;
    padding-left: 30px !important;
    width: 90%;
    margin-left: 5%;
}

.line-text {
    color: #00345b;
    font-weight: bold;
    font-size: 16px;
}

.header-text {
    color: #00345b;
    font-weight: bold;
    font-size: 18px;
    float: right;
    margin-right: 10px;
    text-align: right;
}

.ed-control-image img {
    vertical-align: middle;
    border-radius: 10px;
}

.go-back-link  {
    font-size: 25px;
    margin-right: 10px;
}

.circle_unselected {
    font-size: 15px;
    width: 30px;
    padding: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    border-radius: 50%;
    height: 30px;
    background-color:  #595959;
}

.padding-sides {
    padding: 20px;
}

.circle_selected {
    background-color: #00345b;
    font-size: 15px;
    color: #f2f2f2;
    width: 30px;
    padding: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border-radius: 50%;
    height: 30px;
}

.status{
    margin: 10px 0;
}

.consent-actions{
    margin-top: 3px;
    display:block;
    margin-left: 10px;
    height: 70px;
}

.consent-read{
    display: inline-flex;
    justify-content: center;
    background-color: #00345b;
    width: 30%;
    height: 50px;
    text-align: center;
    color: white;
    margin-left: 10%;
}

.consent-read right {
    margin-right: 10%;
}

.trial-details {
    margin: 10% 0;
}

.layout-content {
    margin-left: 5px;
}

.red-color {
    color: red;
}

.layout-hr {
    width: 350px;
    margin-top: 0;
}

.long-button {
    background-color: white;
    border: #40A5B2 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    height: 35px;
    font-weight: bold;
    text-align: left;
    font-size: 13px;
    color: #40A5B2 !important;
    border-top: 1px solid black!important;
    padding-left: 30px !important;
    width: 90%;
    margin-left: 5%;
}

.long-button consent {

    border-top: none !important;

}