.left-image{
    float:left;
    margin-top: 10px;

}
.econsent-block {
    display: flex;
    clear: both;
}
.header-title {
    display: flex;
    height: 50px;
}

.scan-error-title {
    color: #00345B;
    font-weight: bold;
    font-size: 20px;
}
.padding-sides {
    padding: 20px;
}

.dispay-flex {
    display: flex;
}
.date-div {
    margin-bottom: 20px;
}

.date-div .left-image.padding-image {
    float: left;
    padding-top: 25px;
}

.date-div .right-text {
    padding-top: 15px;
}

.subheader {
    height: 40px;
    width: 100%;
    background-color: #00345b;
}
.trial-status {
    color: #00345b;
    font-weight: bold;
    font-size: 15px;
    float: right;
    margin-right: 10px;
    text-align: right;
}

.header-text {
    color: #00345b;
    font-weight: bold;
    font-size: 18px;
    float: right;
    margin-right: 10px;
    text-align: right;
}

.ed-control-image img {
    vertical-align: middle;
    border-radius: 10px;
}
.go-back-link  {
    margin: 0;
    font-size: 25px;
    margin-right: 10px;
}

.circle_unselected {
    font-size: 15px;
    width: 30px;
    padding: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    border-radius: 50%;
    height: 30px;
    background-color:  #595959;

}
.padding-sides {
    padding: 20px;
}
.circle_selected {

    background-color: #00345b;
    font-size: 15px;
    width: 30px;
    padding: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    border-radius: 50%;
    height: 30px;

}

.status{
    margin-top: 5px;
    margin-bottom: 5px;
    display:block;
    height: 90px;
}

.econsent-actions{
    margin-top: 3px;
    display:block;
    margin-left: 10px;
    height: 70px;
}
.econsent-read{
    display: inline-flex;
    justify-content: center;
    background-color: #00345b;
    width: 30%;
    height: 50px;
    text-align: center;
    color: white;
    margin-left: 10%;
}

.econsent-read right {
    margin-right: 10%;
}
