.visits-table-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(auto-fill, 120px);
  grid-row-gap: 0.5em;
  grid-column-gap: 1em;
}

.visits-form-control {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 0px 2px;
  outline: none;
  padding: 3px;
  box-sizing: border-box;
  transition: 0.3s;
  font-size: 14px;
}

.visits-form-control:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
