.accordion-item div container div svg {
  font-size: 20px;
  margin-left: 5px;
}

.accordion-header {
  cursor: pointer;
  color: #00345b;
}

.accordion-header:hover {
  background-color: rgb(198, 251, 255);
}

.country-option {
  cursor: pointer;
}

.country-option:hover {
  background-color: rgb(221, 221, 221);
}
