:host(.coloredBackground) {
  background-color: #00345b !important;
  color: white;
  width: 100%;
  height: 100%;
}

:host(.background-primary) {
  background-color: #f0f0f0;
}

:host(psk-layout.table-row:nth-child(n):not(:last-child)) {
  border-top: 1px solid rgba(150, 150, 150, 0.2);
  border-left: 1px solid rgba(150, 150, 150, 0.2);
  padding: 0 !important;
  margin: 0 !important;
}

:host(psk-layout.table-row:last-child) {
  border-top: 1px solid rgba(150, 150, 150, 0.2);
  border-bottom: 1px solid rgba(150, 150, 150, 0.2);
  border-left: 1px solid rgba(150, 150, 150, 0.2);
  padding: 0 !important;
  margin: 0 !important;
}
