@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.text-area {
    height: 500px;
}

.long-button {
    background-color: #00345b !important;
    border: #00345b !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    height: 45px;
    font-weight: bold;
    text-align: left;
    font-size: 22px;
    color: white;
    width: 100%;
    border-top: 1px solid white !important;
    padding-left: 30px !important;
}