
.top {
    display: block;

    width: 100%;
}

.line {
    display: flex;

}

.tp-input{
    width: 90%;
}

.tp-date{
    width: 60%;
}

.tp-title {
    font-size: 22px;
    color: #00345b;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 50%;
    margin-left: 20px;
}

.tp-button {
    background-color: #00345b;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;

    vertical-align: center;

    font-size: 16px;
    margin-right: 30px;
}


webc-modal[data-shadow] .webc-modal .webc-modal-dialog.centered {

    min-width: 80%;

}