
.trial-table {
    width: 80%;
    margin-left: 10%;
}

trial-table tr:nth-child(even) {
    background-color: #00345B;
}

.table-cell {
    font-size: 16px;
    color: #000000;
    font-size: 16px;
}

.table-cell-title {
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.main-logo {
    width: 487px;
    height: 231px;
    margin: 100px 0 40px 45%;
}

.centered {
    justify-content: space-evenly;
    display: flex;
    width: 70%;
    margin-left: 15%;
    margin-top: 40px;
}

.main-button {
    background-color: #008798;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    height: 55px;
    width: 160px;
}




