.not-block{
    margin-right: 20px;
    width: 95%;

    background-color: #F7F5F5;
    margin: 10px 20px 0px 20px;
    border-radius: 25px;
    padding: 20px;

}
.not-title {
    font-size: 22px;
    font-weight: bold;
    text-align:center;
    vertical-align:middle;
    display:table-cell;
    margin-left: 20px;
}
.not-subtitle {
    font-size: 20px;
    font-weight: bold;
    text-align:center;
    vertical-align:middle;
    display:table-cell;
    margin-left: 20px;
}

.centered {
    display: flex;
    margin-top: 60px;
    margin-left: 11.5%;
}

.button-container button {
    width: 300px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.button-container button div div {
    margin-left: 10px;
    margin-top: -5px;
}

.button-container {
    width: 33%;
}

.missing-buton-margin-right {
    margin-right: 30%;
}

.main-button {
    background-color: white;
    border: 1px solid #00345B;
    color: #00345B;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    height: 55px;
    width: 160px;
}

.body{
    height: 300px;
    overflow: auto;
}

.link-button {
    background-color: white !important;
    border: white !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    text-align: left;
    font-size: 16px;
    color: #2F80ED;
}