
.trial-table{
    width: 80%;
    margin-left: 10%;
}

trial-table tr:nth-child(even){background-color: #00345B;}

.table-cell {
    font-size: 16px;
    color: #000000;
    font-size: 16px;
}

.table-cell-title {
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.link-button {
    background-color: white !important;
    border: white !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    text-align: left;
    font-size: 16px;
    color: #2F80ED;
}

.smaller-btn {
    height: 35px;
    width: 100px;
}

.body{
    height: 300px;
    overflow: auto;
}
.red {
    color: red !important;
    font-weight: bold;
}

