
.trial-table {
    width: 80%;
    margin-left: 10%;
}

trial-table tr:nth-child(even) {
    background-color: #00345B;
}

.table-cell {
    font-size: 16px;
    color: #000000;
    font-size: 16px;
}

.table-cell-title {
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.link-button {
    background-color: white !important;
    border: white !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    text-align: left;
    font-size: 16px;
    color: #2F80ED;
}

.subtitle-container {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.subtitle {
    font-size: 24px;
    color: #008798;
    font-weight: bold;
}

.add-ts {
    background-color: #008798;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 30px;
    height: 55px;
    width: 160px;
    position: absolute;
    right: 10%;
}

.main-button {
    background-color: #008798;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    height: 55px;
    width: 160px;
    margin-left: 20px;
}
.display-flex {
    display: flex;
}

.no-bottom-margin .image_container {
    margin-bottom: 0 !important;
}

.table-title {
    margin-left: 10%;
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.version-row > * {
    display: block;
}

.clickable {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
