.left{
    width: 70%;
    float: left;
    margin: 20px 0px;
}
.right{
    width: 20%;
    margin-right: 20px;
}
.top-divided {
    display: flex;
    clear: both;
}
.trial-button{
    background-color: #00345b;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: center;

    font-size: 16px;
    margin-right: 30px;
}

.simple-text{
    font-size: 16px;
    color: #00345b;
    font-weight: bold;
    vertical-align:middle;
    display:block;

}

.participant{
    font-size: 16px;
    color: #00345b;
    font-weight: bold;
    text-align:center;
    vertical-align:middle;
    margin-left: 20px;
}

.left .trial-title {
    font-size: 22px;
    color: #00345b;
    font-weight: bold;
    text-transform: uppercase;
    text-align:center;
    margin-top: 20px;
    margin-bottom: 15px;
    vertical-align:middle;
    display:table-cell;
    margin-left: 20px;
}

.bpd-dashboard img {
    margin-top: 30px;
    width: auto !important;
}

.top-buttons{
    margin-bottom: 20px;
}

.tp-wrapper {
    margin-left: 80px;
    display: flex;
    clear: both;

}
.right .trial-button {
    margin-top: 50px;
}

.tp-table{
    width: 90%;


}

.table-cell {
    font-size: 20px;
    color: #00345b;
    font-weight: bold;

}
